@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
/* adjust body when menu is open */
/* line 2, ../_components/scss/_nav.scss */
body.slide-active {
  overflow-x: hidden;
}

/*first child of #page-content so it doesn't shift around*/
/* line 6, ../_components/scss/_nav.scss */
.no-margin-top {
  margin-top: 0px !important;
}

/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
/* line 10, ../_components/scss/_nav.scss */
#page-content {
  position: relative;
  padding-top: 70px;
  right: 0;
}

/* line 15, ../_components/scss/_nav.scss */
#page-content.slide-active {
  padding-top: 0;
}

/* put toggle bars on the right :: not using button */
/* line 21, ../_components/scss/_nav.scss */
#slide-nav .navbar-toggle {
  cursor: pointer;
  position: relative;
  line-height: 0;
  float: right;
  margin: 0;
  width: 30px;
  height: 40px;
  padding: 10px 0 0 0;
  border: 0;
  background: transparent;
}

/* icon bar prettyup - optional */
/* line 34, ../_components/scss/_nav.scss */
#slide-nav .navbar-toggle > .icon-bar {
  width: 100%;
  display: block;
  height: 3px;
  margin: 5px 0 0 0;
}

/* line 40, ../_components/scss/_nav.scss */
#slide-nav .navbar-toggle.slide-active .icon-bar {
  background: #ffff00;
}

/* line 43, ../_components/scss/_nav.scss */
.navbar-header {
  position: relative;
}

/* un fix the navbar when active so that all the menu items are accessible */
/* line 47, ../_components/scss/_nav.scss */
.navbar.navbar-fixed-top.slide-active {
  position: relative;
}

/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width: 767px) {
  /* line 52, ../_components/scss/_nav.scss */
  #slide-nav .container {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
  }

  /* line 57, ../_components/scss/_nav.scss */
  #slide-nav .navbar-header {
    margin: 0 auto;
    padding: 0 15px;
  }

  /* line 61, ../_components/scss/_nav.scss */
  #slide-nav .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: -1px;
    z-index: 1000;
  }

  /* line 67, ../_components/scss/_nav.scss */
  #slide-nav #slidemenu {
    background: #f7f7f7;
    right: -100%;
    width: 80%;
    min-width: 0;
    position: absolute;
    padding-right: 0;
    z-index: 2;
    top: -8px;
    margin: 0;
  }

  /* line 78, ../_components/scss/_nav.scss */
  #slide-nav #slidemenu .navbar-nav {
    min-width: 0;
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }

  /* line 84, ../_components/scss/_nav.scss */
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
    min-width: 0;
    width: 80%;
    white-space: normal;
  }

  /* line 89, ../_components/scss/_nav.scss */
  #slide-nav {
    border-top: 0;
    position: fixed;
  }

  /* line 93, ../_components/scss/_nav.scss */
  #slide-nav.navbar-inverse #slidemenu {
    background: #333;
    position: fixed;
  }

  /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
  /* line 98, ../_components/scss/_nav.scss */
  #navbar-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 80%;
    right: -80%;
    background: #f7f7f7;
  }

  /* line 107, ../_components/scss/_nav.scss */
  #navbar-height-col.inverse {
    background: #333;
    z-index: 16;
    border: 0;
  }

  /* line 112, ../_components/scss/_nav.scss */
  #slide-nav .navbar-form {
    width: 100%;
    margin: 8px 0;
    text-align: center;
    overflow: hidden;
    /*fast clearfixer*/
  }

  /* line 119, ../_components/scss/_nav.scss */
  #slide-nav .navbar-form .form-control {
    text-align: center;
  }

  /* line 122, ../_components/scss/_nav.scss */
  #slide-nav .navbar-form .btn {
    width: 100%;
  }

  /* line 125, ../_components/scss/_nav.scss */
  #nav-right li {
    height: 3.5rem;
  }
}
@media (min-width: 768px) {
  /* line 130, ../_components/scss/_nav.scss */
  #page-content {
    right: 0 !important;
  }

  /* line 133, ../_components/scss/_nav.scss */
  .navbar.navbar-fixed-top.slide-active {
    position: fixed;
  }

  /* line 136, ../_components/scss/_nav.scss */
  .navbar-header {
    right: 0 !important;
  }
}
/* line 9, ../_components/scss/styles.scss */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  /* line 9, ../_components/scss/styles.scss */
  * {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  /* line 9, ../_components/scss/styles.scss */
  * {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  /* line 9, ../_components/scss/styles.scss */
  * {
    font-size: 1.75rem;
  }
}

/* line 27, ../_components/scss/styles.scss */
h1 {
  font-family: "Candal", sans-serif;
  text-align: center;
  font-size: 5rem;
}

/* line 34, ../_components/scss/styles.scss */
h2 {
  font-family: "Nunito", sans-serif;
}

/* line 34, ../_components/scss/styles.scss */
h3 {
  font-family: "Nunito", sans-serif;
}

/* line 34, ../_components/scss/styles.scss */
h4 {
  font-family: "Nunito", sans-serif;
}

/* line 34, ../_components/scss/styles.scss */
h5 {
  font-family: "Nunito", sans-serif;
}

/* line 34, ../_components/scss/styles.scss */
h6 {
  font-family: "Nunito", sans-serif;
}

/* line 39, ../_components/scss/styles.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 44, ../_components/scss/styles.scss */
body {
  background: #fff;
  margin: 0;
  font-family: sans-serif;
}
/* line 49, ../_components/scss/styles.scss */
body, body small {
  color: #001d3b;
}

@media (min-width: 768px) {
  /* line 54, ../_components/scss/styles.scss */
  div#slide-nav {
    font-size: 1.2rem;
    height: 50px;
  }
}
@media (min-width: 992px) {
  /* line 54, ../_components/scss/styles.scss */
  div#slide-nav {
    font-size: 1.5rem;
  }
}

/* line 65, ../_components/scss/styles.scss */
.navbar-inverse {
  background-color: #001d3b;
  border-color: #001d3b;
}

/* line 70, ../_components/scss/styles.scss */
.navbar-header {
  padding: 0 15px 0 0 !important;
  margin: 0 !important;
}
/* line 74, ../_components/scss/styles.scss */
.navbar-header .navbar-brand {
  padding: 0;
  width: 40%;
}
/* line 78, ../_components/scss/styles.scss */
.navbar-header .navbar-brand img {
  padding: 0;
  width: 100%;
  padding: 3px 0 0 5px;
}
@media (min-width: 568px) {
  /* line 86, ../_components/scss/styles.scss */
  .navbar-header .navbar-brand {
    width: 18%;
  }
  /* line 89, ../_components/scss/styles.scss */
  .navbar-header .navbar-brand img {
    padding: 7px 0 0 5px;
  }
}
@media (min-width: 768px) {
  /* line 70, ../_components/scss/styles.scss */
  .navbar-header {
    position: absolute;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 125px;
  }
  /* line 103, ../_components/scss/styles.scss */
  .navbar-header .navbar-brand {
    width: 100%;
    margin-left: 0 !important;
  }
  /* line 108, ../_components/scss/styles.scss */
  .navbar-header .navbar-brand img {
    padding: 5px 0;
  }
}
@media (min-width: 1200px) {
  /* line 70, ../_components/scss/styles.scss */
  .navbar-header {
    width: 250px;
  }
}

/* line 119, ../_components/scss/styles.scss */
.navbar-nav > li > a {
  box-sizing: border-box;
}

/* line 123, ../_components/scss/styles.scss */
.active-nav {
  color: #ffff00 !important;
  height: 46px;
  border-bottom: 3px solid #ffff00;
}

/* line 126, ../_components/scss/styles.scss */
#nav-left > li > a:not(.active-nav) {
  color: #fff;
}
/* line 129, ../_components/scss/styles.scss */
#nav-left > li > a:not(.active-nav):hover, #nav-left > li > a:not(.active-nav):focus, #nav-left > li > a:not(.active-nav):active {
  color: #fff !important;
  height: 46px;
  border-bottom: 3px solid #fff;
}

/* line 137, ../_components/scss/styles.scss */
.fa-youtube-square {
  color: #f39c95;
  font-size: 2.5rem;
  display: inline;
}
/* line 142, ../_components/scss/styles.scss */
.fa-youtube-square:hover, .fa-youtube-square:focus, .fa-youtube-square:active {
  color: #fff;
}

@media (max-width: 767px) {
  /* line 148, ../_components/scss/styles.scss */
  .fa-youtube-square:after {
    content: " youtube";
    color: #fff;
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: sans-serif;
  }
}
/* line 137, ../_components/scss/styles.scss */
.fa-facebook-square {
  color: #718dc8;
  font-size: 2.5rem;
  display: inline;
}
/* line 142, ../_components/scss/styles.scss */
.fa-facebook-square:hover, .fa-facebook-square:focus, .fa-facebook-square:active {
  color: #fff;
}

@media (max-width: 767px) {
  /* line 148, ../_components/scss/styles.scss */
  .fa-facebook-square:after {
    content: " facebook";
    color: #fff;
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: sans-serif;
  }
}
/* line 137, ../_components/scss/styles.scss */
.fa-twitter-square {
  color: #b2d9f7;
  font-size: 2.5rem;
  display: inline;
}
/* line 142, ../_components/scss/styles.scss */
.fa-twitter-square:hover, .fa-twitter-square:focus, .fa-twitter-square:active {
  color: #fff;
}

@media (max-width: 767px) {
  /* line 148, ../_components/scss/styles.scss */
  .fa-twitter-square:after {
    content: " twitter";
    color: #fff;
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: sans-serif;
  }
}
/* line 137, ../_components/scss/styles.scss */
.fa-tumblr-square {
  color: #628cb3;
  font-size: 2.5rem;
  display: inline;
}
/* line 142, ../_components/scss/styles.scss */
.fa-tumblr-square:hover, .fa-tumblr-square:focus, .fa-tumblr-square:active {
  color: #fff;
}

@media (max-width: 767px) {
  /* line 148, ../_components/scss/styles.scss */
  .fa-tumblr-square:after {
    content: " tumblr";
    color: #fff;
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: sans-serif;
  }
}
/* line 137, ../_components/scss/styles.scss */
.fa-envelope-square {
  color: #ffff66;
  font-size: 2.5rem;
  display: inline;
}
/* line 142, ../_components/scss/styles.scss */
.fa-envelope-square:hover, .fa-envelope-square:focus, .fa-envelope-square:active {
  color: #fff;
}

@media (max-width: 767px) {
  /* line 148, ../_components/scss/styles.scss */
  .fa-envelope-square:after {
    content: ' message';
    color: #fff;
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: sans-serif;
  }
}
/* line 164, ../_components/scss/styles.scss */
footer {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 1.5rem 2rem;
  background: #001d3b;
}
/* line 174, ../_components/scss/styles.scss */
footer span {
  display: block;
  text-align: center;
}
/* line 177, ../_components/scss/styles.scss */
footer span a {
  text-decoration: none;
}
/* line 180, ../_components/scss/styles.scss */
footer span a:hover, footer span a:focus, footer span a:active, footer span a:visited {
  text-decoration: underline;
}
/* line 187, ../_components/scss/styles.scss */
footer span:first-child a {
  color: inherit;
}
/* line 193, ../_components/scss/styles.scss */
footer span:last-child a {
  color: #ffff00;
}
@media (min-width: 568px) {
  /* line 199, ../_components/scss/styles.scss */
  footer span:first-child {
    float: left;
  }
  /* line 202, ../_components/scss/styles.scss */
  footer span:last-child {
    float: right;
  }
}
@media (max-width: 568px) {
  /* line 208, ../_components/scss/styles.scss */
  footer span, footer span * {
    font-size: 1.5rem;
  }
}

/* line 215, ../_components/scss/styles.scss */
.page-content {
  margin: 10rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  /* line 215, ../_components/scss/styles.scss */
  .page-content {
    width: 75%;
  }
}
@media (min-width: 992px) {
  /* line 215, ../_components/scss/styles.scss */
  .page-content {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  /* line 215, ../_components/scss/styles.scss */
  .page-content {
    width: 55%;
  }
}

/* line 233, ../_components/scss/styles.scss */
.fa-asterisk {
  color: #ff0000;
}

/* line 237, ../_components/scss/styles.scss */
.wide-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: bold;
  background: #ffff00;
  color: #001d3b;
  border: 2px solid #001d3b;
}
/* line 247, ../_components/scss/styles.scss */
.wide-btn:hover, .wide-btn:focus, .wide-btn:active {
  background: #001d3b;
  color: #ffff00;
  border-color: #ffff00;
}
@media (min-width: 568px) {
  /* line 237, ../_components/scss/styles.scss */
  .wide-btn {
    width: 50%;
  }
}

/* line 258, ../_components/scss/styles.scss */
.logo-round {
  display: block;
  margin: 2rem auto;
  width: 50%;
}
@media (min-width: 568px) {
  /* line 258, ../_components/scss/styles.scss */
  .logo-round {
    width: 30%;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  /* line 258, ../_components/scss/styles.scss */
  .logo-round {
    width: 20%;
  }
}

/* line 276, ../_components/scss/styles.scss */
#home-page-content h2 {
  text-align: center;
  margin-bottom: 5rem;
}
/* line 281, ../_components/scss/styles.scss */
#home-page-content h1 {
  font-size: 3rem;
}
@media (min-width: 768px) {
  /* line 275, ../_components/scss/styles.scss */
  #home-page-content {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 275, ../_components/scss/styles.scss */
  #home-page-content {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  /* line 275, ../_components/scss/styles.scss */
  #home-page-content {
    width: 75%;
  }
  /* line 295, ../_components/scss/styles.scss */
  #home-page-content h1 {
    font-size: 5rem;
  }
}

/* line 301, ../_components/scss/styles.scss */
.carousel {
  width: 100%;
  height: 25rem;
}
/* line 305, ../_components/scss/styles.scss */
.carousel .carousel-control {
  width: 10%;
  height: 30%;
  top: 50%;
  transform: translateY(-50%);
}
/* line 312, ../_components/scss/styles.scss */
.carousel .item * {
  height: 25rem;
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 320, ../_components/scss/styles.scss */
  .carousel, .carousel .item * {
    height: 35rem;
  }
}
@media (min-width: 992px) {
  /* line 326, ../_components/scss/styles.scss */
  .carousel, .carousel .item * {
    height: 40rem;
  }
}
@media (min-width: 1200px) {
  /* line 332, ../_components/scss/styles.scss */
  .carousel, .carousel .item * {
    height: 46rem;
  }
}

/* line 339, ../_components/scss/styles.scss */
#contact-anchor {
  display: block;
  height: 50px;
}

/* line 344, ../_components/scss/styles.scss */
.form-control {
  border-color: #001d3b;
}

/* line 348, ../_components/scss/styles.scss */
.g-recaptcha {
  display: table;
  margin: 0 auto;
}

/* line 353, ../_components/scss/styles.scss */
#error {
  text-align: center;
}

/* line 358, ../_components/scss/styles.scss */
.video-container {
  margin: 2rem auto 6rem auto;
  border-bottom: 1px solid #001d3b;
}
/* line 362, ../_components/scss/styles.scss */
.video-container:last-child {
  border-bottom: none;
}
/* line 366, ../_components/scss/styles.scss */
.video-container .video-info {
  height: 2.5rem;
  margin-bottom: 2rem;
}
/* line 370, ../_components/scss/styles.scss */
.video-container .video-info h2, .video-container .video-info span {
  display: inline-block;
}
/* line 374, ../_components/scss/styles.scss */
.video-container .video-info h2 {
  float: left;
  margin: 0;
}
/* line 379, ../_components/scss/styles.scss */
.video-container .video-info span {
  position: relative;
  float: right;
  bottom: -10%;
  line-height: 200%;
}
/* line 387, ../_components/scss/styles.scss */
.video-container .video {
  display: block;
}
/* line 390, ../_components/scss/styles.scss */
.video-container .video iframe {
  width: 100%;
  height: 20rem;
}
/* line 396, ../_components/scss/styles.scss */
.video-container .video-desc {
  margin: 1.5rem auto;
}
@media (min-width: 768px) {
  /* line 402, ../_components/scss/styles.scss */
  .video-container .video iframe {
    height: 28rem;
  }
}
@media (min-width: 1200px) {
  /* line 410, ../_components/scss/styles.scss */
  .video-container .video iframe {
    height: 38rem;
  }
}

/* line 417, ../_components/scss/styles.scss */
#go-to-YT {
  color: #fff;
  background: #ff0000;
  border: none;
}
/* line 422, ../_components/scss/styles.scss */
#go-to-YT:hover, #go-to-YT:focus, #go-to-YT:active {
  background: #990000;
}

/* line 428, ../_components/scss/styles.scss */
#merchandise-page-content {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 434, ../_components/scss/styles.scss */
#merchandise-page-content #placeholder {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  /* position: absolute; */
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 448, ../_components/scss/styles.scss */
#merchandise-page-content h1 {
  font-size: 4rem;
}
@media (min-width: 568px) {
  /* line 453, ../_components/scss/styles.scss */
  #merchandise-page-content h1 {
    font-size: 3rem;
  }
  /* line 457, ../_components/scss/styles.scss */
  #merchandise-page-content #placeholder .logo-round {
    width: 20%;
  }
}
@media (min-width: 768px) {
  /* line 463, ../_components/scss/styles.scss */
  #merchandise-page-content h1 {
    font-size: 5rem;
  }
  /* line 467, ../_components/scss/styles.scss */
  #merchandise-page-content #placeholder .logo-round {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  /* line 473, ../_components/scss/styles.scss */
  #merchandise-page-content #placeholder .logo-round {
    width: 15%;
  }
}

/* line 480, ../_components/scss/styles.scss */
.modal-header {
  background: #ffff66;
  text-align: center;
}

/* line 485, ../_components/scss/styles.scss */
.modal-content {
  border: 1px solid #fff;
}
