@import "_vars";

* {
    font-family: 'Roboto';    
}

@for $i from 1 through 6 {
    h#{$i} {
        text-transform: uppercase;
        font-weight: bold;
    }
}

header {
    background: $darkBlue;    
}

.navbar {
    background: $darkBlue;
    min-height: 100px;
    
    .left-div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .navbar-brand {
        height: 100px;
        width: auto;
        padding: 15px;
            
        img {
            display: inline-block;
            height: 80%;    
        }
        
        #content-mgr {
            display: inline-block;
        }
    }
}

@media(max-width: 438px) {
    .navbar {
        .navbar-brand {
            img {
                height: 60%;    
            }

            #content-mgr {
                font-size: 1.5rem;    
            }
        }
    }
}

.navbar-inverse .navbar-toggle {
    background: lighten($darkBlue, 60);  
    
    &:hover, &:active, &:focus {
        background: lighten($darkBlue, 40) !important;    
    }
}

.menu-section {
    background-color: lighten($darkBlue, 20);    
}

.menu-section .nav > li > a:not(.menu-top-active) {
    &:hover, &:active, &:focus {
        background-color: lighten($darkBlue, 60) !important;    
    }
}
.menu-top-active, .menu-top-active:hover, .menu-top-active:active, .menu-top-active:focus {
    background-color: lighten($yellow, 20)!important;    
    color: $darkBlue !important;
    font-weight: bold !important;
}

#user-menu > li > a{
    padding: 10px;
    color: $white;
}

footer {
    background: $darkBlue;    
    
    a:last-child {
        color: $yellow;    
        
        &:hover, &:active, &:focus {
            text-decoration: underline;
        }
    }
}

.page-head-line {
    color: $darkBlue;
    border-color: $darkBlue;
    font-size: 3rem;
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;    
}

@media(min-width: 992px) {
    .vid-tn {
        width: 31%;
        margin: 2rem 1rem;
    }
    
    .featured-vid-tn {
        width: 46%;
        margin: 2rem 1rem;
        
        &:first-child {
            margin-left: 1rem;    
        }
    }
}

//@media(min-width: 1200px) {
//    .vid-tn {
//        width: 31%;
//        margin: 2rem 1rem;
//        
//        &:first-child {
//            margin-left: 2rem;    
//        }
//    }
//    
//    .featured-vid-tn {
//        width: 48%;
//        margin: 2rem 1rem;
//        
//        &:first-child {
//            margin-left: 1rem;    
//        }
//    }
//}
.vid-tn {    
    box-sizing: border-box;
    background-color: lighten($darkGrey, 75);
    border-radius: 5px;
    border: 1px solid lighten($darkBlue, 20);    
}

.vid-desc {
    line-height: 150%;    
    height: 10rem;
    overflow: auto;
    margin-bottom: 2rem;
}

.vid-header {
    margin: 0;
    padding: 0;
    
    .vid-title {
        margin: 1.25rem auto;  
        margin-bottom: 0;
    }
    
    .vid-btn {
        margin: 1rem auto;    
    }
}

.modal-header {
    background: $darkBlue;
    color: $yellow;
    
    .close {
        color: $white;
        opacity: 1;
    }
}

.fa-asterisk {
    color: $red;    
}