* {
  font-family: 'Roboto';
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
}

h5 {
  text-transform: uppercase;
  font-weight: bold;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
}

header {
  background: #001d3b;
}

.navbar {
  background: #001d3b;
  min-height: 100px;
}
.navbar .left-div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar .navbar-brand {
  height: 100px;
  width: auto;
  padding: 15px;
}
.navbar .navbar-brand img {
  display: inline-block;
  height: 80%;
}
.navbar .navbar-brand #content-mgr {
  display: inline-block;
}

@media (max-width: 438px) {
  .navbar .navbar-brand img {
    height: 60%;
  }
  .navbar .navbar-brand #content-mgr {
    font-size: 1.5rem;
  }
}
.navbar-inverse .navbar-toggle {
  background: #6eb5ff;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle:focus {
  background: #0881ff !important;
}

.menu-section {
  background-color: #004fa1;
}

.menu-section .nav > li > a:not(.menu-top-active):hover, .menu-section .nav > li > a:not(.menu-top-active):active, .menu-section .nav > li > a:not(.menu-top-active):focus {
  background-color: #6eb5ff !important;
}

.menu-top-active, .menu-top-active:hover, .menu-top-active:active, .menu-top-active:focus {
  background-color: #ffff66 !important;
  color: #001d3b !important;
  font-weight: bold !important;
}

#user-menu > li > a {
  padding: 10px;
  color: #fff;
}

footer {
  background: #001d3b;
}
footer a:last-child {
  color: #ffff00;
}
footer a:last-child:hover, footer a:last-child:active, footer a:last-child:focus {
  text-decoration: underline;
}

.page-head-line {
  color: #001d3b;
  border-color: #001d3b;
  font-size: 3rem;
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
}

@media (min-width: 992px) {
  .vid-tn {
    width: 31%;
    margin: 2rem 1rem;
  }

  .featured-vid-tn {
    width: 46%;
    margin: 2rem 1rem;
  }
  .featured-vid-tn:first-child {
    margin-left: 1rem;
  }
}
.vid-tn {
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #004fa1;
}

.vid-desc {
  line-height: 150%;
  height: 10rem;
  overflow: auto;
  margin-bottom: 2rem;
}

.vid-header {
  margin: 0;
  padding: 0;
}
.vid-header .vid-title {
  margin: 1.25rem auto;
  margin-bottom: 0;
}
.vid-header .vid-btn {
  margin: 1rem auto;
}

.modal-header {
  background: #001d3b;
  color: #ffff00;
}
.modal-header .close {
  color: #fff;
  opacity: 1;
}

.fa-asterisk {
  color: #ff0000;
}
