@mixin active-nav($color, $borderStyle) {
    color: $color !important;  
    height: 46px;
    border-bottom: 3px $borderStyle $color;    
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}