//social media icons colors maps
$smIcons: (youtube:#E94639, facebook:#3B5998, twitter:#55ACEE, tumblr:#395976, envelope:#FFFF00);

//colors
$yellow: #ffff00;
$red: #ff0000;
$darkGrey: #333;
$white: #fff;
$black: #000;
$darkBlue: #001d3b;

//min widths
$xsmall: 568px;
$small: 768px;
$med: 992px;
$large: 1200px;

//fonts
@import url(https://fonts.googleapis.com/css?family=Lato);
$bodyFont: 'Lato', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Candal);
$largeFont: 'Candal', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
$accentFont: 'Nunito', sans-serif;
