@import 'compass';
@import 'susy';

@import '_vars';
@import '_mixins';

@import '_nav';

* {
    box-sizing: border-box;    
    font-family: $bodyFont;
    font-size: 1.75rem;
    
    @include susy-media($small) {
        font-size: 1.25rem;    
    } 
    
    @include susy-media($med) {
        font-size: 1.5rem;    
    }
    
    @include susy-media($large) {
        font-size: 1.75rem;    
    }
}

h1 {
    font-family: $largeFont;  
    text-align: center;
    font-size: 5rem;
}

@for $i from 2 through 6 {
    h#{$i} {
        font-family: $accentFont;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: $white;
    margin: 0;
    font-family: sans-serif;
    
    &, small {
        color: $darkBlue;
    }
}

div#slide-nav {
    @include susy-media($small) {
        font-size: 1.2rem;   
        height: 50px;
    }
    
    @include susy-media($med) {
        font-size: 1.5rem;    
    }
}

.navbar-inverse {
    background-color: $darkBlue;
    border-color: $darkBlue;
}

.navbar-header {
    padding: 0 15px 0 0 !important;
    margin: 0 !important;
    
    .navbar-brand {
        padding: 0;
        width: 40%;
        
        img {
            padding: 0;
            width: 100%;  
            padding: 3px 0 0 5px;
        }
    }
    
    @include susy-media($xsmall) {
        .navbar-brand {
            width: 18%;  
            
            img {
                padding: 7px 0 0 5px;    
            }
        }
    }
    
    @include susy-media($small) {
        position: absolute;
        padding: 0;
//        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 125px;

        .navbar-brand {
            width: 100%;
//            padding: 0;
            margin-left: 0 !important;
            
            img {
                padding: 5px 0;    
            }
        }
    }
    
    @include susy-media($large) {
        width: 250px;    
    }
}

.navbar-nav>li>a {
    box-sizing: border-box;
}

.active-nav {
    @include active-nav($yellow, solid);    
}
#nav-left>li>a:not(.active-nav) {
    color: $white;
    
    &:hover, &:focus, &:active {
        @include active-nav($white, solid);
    }
}


//Social Media Icon colors loop
@each $icon, $color in $smIcons {
    .fa-#{$icon}-square {
        color: lighten($color, 20);    
        font-size: 2.5rem;
        display: inline;
        
        &:hover, &:focus, &:active {
            color: $white;    
        }
    }

    @media(max-width: 767px) {
        .fa-#{$icon}-square:after {
            
            @if $icon == 'envelope' {
                content: ' message';    
            } @else {
                content: ' #{$icon}';
            }
            
            color: $white;
            font-size: 1.25rem;
            line-height: 2rem;
            font-family: sans-serif;
        }
    }
}

footer {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    color: $white;
    padding: 1.5rem 2rem;
    background: $darkBlue;
    
    span {
        display: block;
        text-align: center;
        a {
            text-decoration: none;
                
            &:hover, &:focus, &:active, &:visited {
                text-decoration: underline;
            }    
        }
        
        &:first-child {
            
            a {
                color: inherit; 
            }
        }
        
        &:last-child {
            a {
                color: $yellow;    
            }
        }
        
        @include susy-media($xsmall) {
            &:first-child {
                float: left;    
            }
            &:last-child {
                float: right;
            }
        }
        
        @media (max-width: $xsmall) {
            &, & * {
                font-size: 1.5rem;    
            }
        }
    }
}

.page-content {
    margin: 10rem auto;   
    padding-left: 1rem;
    padding-right: 1rem;
    
    @include susy-media($small) {
        width: 75%;    
    }
    
    @include susy-media($med) {
        width: 70%;    
    }
    
    @include susy-media($large) {
        width: 55%;    
    }
}

.fa-asterisk {
    color: $red;    
}

.wide-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-weight: bold;
    background: $yellow;
    color: $darkBlue;
    border: 2px solid $darkBlue;
    
    &:hover, &:focus, &:active {
        background: $darkBlue;
        color: $yellow;
        border-color: $yellow;
    }
    
    @include susy-media($xsmall) {
        width: 50%;    
    }
}

.logo-round {
    display: block;
//        margin: 2rem auto 6rem auto;
    margin: 2rem auto;
    width: 50%;

    @include susy-media($xsmall) {
        width: 30%;  
        margin-bottom: 0;
    }

    @include susy-media($med) {
        width: 20%;    
    }
}   

///////////////////HOME PAGE///////////////////////
#home-page-content {
    h2 {
        text-align: center;
        margin-bottom: 5rem;
    }
    
    h1 {
        font-size: 3rem;    
    }
    
    @include susy-media($small) {
        width: 100%;    
    }
    
    @include susy-media($med) {
        width: 90%;    
    }
    @include susy-media($large) {
        width: 75%; 
        
        h1 {
            font-size: 5rem;    
        }
    }
}

.carousel {
    width: 100%;
    height: 25rem;
    
    .carousel-control {
        width: 10%;
        height: 30%;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .item * {
        height: 25rem;
        display: block;
        margin: 0 auto;
        width: 100%;
    }
        
    @include susy-media($small) {
        &, .item * {
            height: 35rem;    
        }
    }
    
    @include susy-media($med) {
        &, .item * {
            height: 40rem;    
        }
    }
    
    @include susy-media($large) {
        &, .item * {
            height: 46rem;    
        }
    }
}

///////////////////ABOUT PAGE///////////////////////
#contact-anchor {
    display: block;
    height: 50px;
}

.form-control {
    border-color: $darkBlue;
}

.g-recaptcha {
    display: table;
    margin: 0 auto;
}

#error {
    text-align: center;    
}

///////////////////REELS PAGE///////////////////////
.video-container {
    margin: 2rem auto 6rem auto;
    border-bottom: 1px solid $darkBlue;
    
    &:last-child {
        border-bottom: none;    
    }
    
    .video-info {  
        height: 2.5rem;
        margin-bottom: 2rem;
        
        h2, span {
            display: inline-block;
        }

        h2 {
            float: left;
            margin: 0;
        }

        span {
            position: relative;
            float: right;
            bottom: -10%;
            line-height: 200%;
        }
    }
    
    .video {
        display: block;
        
        iframe {
            width: 100%;    
            height: 20rem;
        }
    }
    
    .video-desc {
        margin: 1.5rem auto;    
    }
    
    @include susy-media($small) {
        .video {
            iframe {
                height: 28rem;    
            }
        }
    }
    
    @include susy-media($large) {
        .video {
            iframe {
                height: 38rem;    
            }
        }
    }
}

#go-to-YT {
    color: $white;
    background: $red;
    border: none;
    
    &:hover, &:focus, &:active {
        background: darken($red, 20);    
    }
}

///////////////////MERCHANDISE PAGE///////////////////////
#merchandise-page-content {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    
    #placeholder {
        position: absolute;
        width: 100%;
        /* height: 100%; */
        /* position: absolute; */
        display: block;
        text-align: center;
        top: 50%;
        left: 50%;
//        transform: translate(-50%, -50%);
        
        @include prefix(transform, translate(-50%, -50%), moz o webkit ms);
    }   
    
    h1 {
        font-size: 4rem;    
    }
    
    @include susy-media($xsmall) {
        h1 {    
            font-size: 3rem;    
        }
        
        #placeholder .logo-round {
            width: 20%;    
        }
    }
    
    @include susy-media($small) {
        h1 {
            font-size: 5rem;    
        }
        
        #placeholder .logo-round {
            margin-top: 50px;  
        }
    }
    
    @include susy-media($large) {
        #placeholder .logo-round {
            width: 15%;    
        }
    }
}

///////////////////THANK YOU MODAL///////////////////////
.modal-header {
    background: lighten($yellow, 20);
    text-align: center;
}

.modal-content {
    border: 1px solid $white;    
}

